# 0. Índice <a name="Contents"></a>
1. [Importando bibliotecas](#import)
2. [Construindo um dataframe](#read)
3. [Identificando dados ausentes/missing](#identificando)
4. [Tratando dados ausentes/missing](#tratando)
5. [Dados duplicados](#duplicados)
6. [Mapeamento](#map)

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [28]:
import pandas as pd
import numpy as np

# 2. Construindo um dataframe <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [29]:
df = pd.DataFrame(
    np.random.randn(9, 4)*100,
    index=["A", "B", "C", "D", "E", "F", "G", "H", "I"],
    columns=["coluna1", "coluna2", "coluna3","coluna4"],
)
df

      coluna1     coluna2     coluna3     coluna4
A   14.297823  201.792653  -12.019145   89.683780
B -188.601140   74.068463  143.278181   86.617881
C   74.980909    2.474631 -100.576369 -126.058050
D   34.748950  -95.455244  -50.602260   55.871010
E  127.294508  102.446762  -68.976805   10.499523
F   17.588254 -170.877899   42.870720 -103.594713
G   56.745511  -43.469187  122.248413  -43.206930
H  -20.046361  255.691026  103.678420  170.213588
I  136.293255  -33.694679    9.938044   40.162617

In [30]:
df.dtypes

coluna1    float64
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

## Alterando os tipos de dados

In [31]:
df['coluna1'] = df['coluna1'].astype(int)

In [32]:
df.dtypes

coluna1      int32
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

In [33]:
df['coluna3'] = df['coluna3'].astype(str)

In [34]:
df.dtypes

coluna1      int32
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

In [35]:
df

   coluna1     coluna2              coluna3     coluna4
A       14  201.792653  -12.019144534187829   89.683780
B     -188   74.068463    143.2781812255641   86.617881
C       74    2.474631  -100.57636947512307 -126.058050
D       34  -95.455244   -50.60225995273826   55.871010
E      127  102.446762   -68.97680473938726   10.499523
F       17 -170.877899   42.870720259940676 -103.594713
G       56  -43.469187   122.24841345192165  -43.206930
H      -20  255.691026    103.6784198394535  170.213588
I      136  -33.694679    9.938044147403602   40.162617

## Acrescentando dados faltantes na tabela

In [36]:
df.iloc[4,2]

'-68.97680473938726'

In [37]:
df.iloc[4,2] = np.nan

In [38]:
df

   coluna1     coluna2              coluna3     coluna4
A       14  201.792653  -12.019144534187829   89.683780
B     -188   74.068463    143.2781812255641   86.617881
C       74    2.474631  -100.57636947512307 -126.058050
D       34  -95.455244   -50.60225995273826   55.871010
E      127  102.446762                  NaN   10.499523
F       17 -170.877899   42.870720259940676 -103.594713
G       56  -43.469187   122.24841345192165  -43.206930
H      -20  255.691026    103.6784198394535  170.213588
I      136  -33.694679    9.938044147403602   40.162617

In [39]:
df.iloc[1,0] = np.nan
df.iloc[4,0] = np.nan
df.iloc[3,0] = np.nan
df.iloc[8,0] = np.nan
df.iloc[6,0] = np.nan
df.iloc[4,3] = np.nan
df.iloc[4,3] = np.nan
df.iloc[8,3] = np.nan

In [40]:
df

   coluna1     coluna2              coluna3     coluna4
A     14.0  201.792653  -12.019144534187829   89.683780
B      NaN   74.068463    143.2781812255641   86.617881
C     74.0    2.474631  -100.57636947512307 -126.058050
D      NaN  -95.455244   -50.60225995273826   55.871010
E      NaN  102.446762                  NaN         NaN
F     17.0 -170.877899   42.870720259940676 -103.594713
G      NaN  -43.469187   122.24841345192165  -43.206930
H    -20.0  255.691026    103.6784198394535  170.213588
I      NaN  -33.694679    9.938044147403602         NaN

In [41]:
# Os tipos de dados podem mudar após acrescentar um dado faltante
df.dtypes

coluna1    float64
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

# 3. Identificando dados ausentes <a name="identificando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [42]:
df.isna()

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [43]:
# Alias do isna
df.isnull()

   coluna1  coluna2  coluna3  coluna4
A    False    False    False    False
B     True    False    False    False
C    False    False    False    False
D     True    False    False    False
E     True    False     True     True
F    False    False    False    False
G     True    False    False    False
H    False    False    False    False
I     True    False    False     True

In [44]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [45]:
df[df['coluna1'].isna()]

   coluna1     coluna2             coluna3    coluna4
B      NaN   74.068463   143.2781812255641  86.617881
D      NaN  -95.455244  -50.60225995273826  55.871010
E      NaN  102.446762                 NaN        NaN
G      NaN  -43.469187  122.24841345192165 -43.206930
I      NaN  -33.694679   9.938044147403602        NaN

In [46]:
df[~df['coluna1'].isna()]

   coluna1     coluna2              coluna3     coluna4
A     14.0  201.792653  -12.019144534187829   89.683780
C     74.0    2.474631  -100.57636947512307 -126.058050
F     17.0 -170.877899   42.870720259940676 -103.594713
H    -20.0  255.691026    103.6784198394535  170.213588

In [47]:
df['coluna1']

A    14.0
B     NaN
C    74.0
D     NaN
E     NaN
F    17.0
G     NaN
H   -20.0
I     NaN
Name: coluna1, dtype: float64

In [48]:
df['coluna1'].isna()

A    False
B     True
C    False
D     True
E     True
F    False
G     True
H    False
I     True
Name: coluna1, dtype: bool

In [49]:
df['coluna1'].isna().sum()

5

In [50]:
df.isna().sum()

coluna1    5
coluna2    0
coluna3    1
coluna4    2
dtype: int64

In [51]:
df['coluna2']

A    201.792653
B     74.068463
C      2.474631
D    -95.455244
E    102.446762
F   -170.877899
G    -43.469187
H    255.691026
I    -33.694679
Name: coluna2, dtype: float64

In [52]:
df['coluna2'].isna().sum()

0

In [53]:
percentage = (df.isnull().sum() / len(df)) * 100
percentage

coluna1    55.555556
coluna2     0.000000
coluna3    11.111111
coluna4    22.222222
dtype: float64

# 4. Tratando dados ausentes <a name="tratando"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [54]:
df['coluna1']

A    14.0
B     NaN
C    74.0
D     NaN
E     NaN
F    17.0
G     NaN
H   -20.0
I     NaN
Name: coluna1, dtype: float64

## Substituindo por 0

In [55]:
df['coluna1'].fillna(0)

A    14.0
B     0.0
C    74.0
D     0.0
E     0.0
F    17.0
G     0.0
H   -20.0
I     0.0
Name: coluna1, dtype: float64

## Substituindo pela média

In [56]:
df['coluna1']

A    14.0
B     NaN
C    74.0
D     NaN
E     NaN
F    17.0
G     NaN
H   -20.0
I     NaN
Name: coluna1, dtype: float64

In [78]:
(-23.0-132.0+94.0+0)/4

-15.25

In [76]:
df['coluna1'].mean()

21.25

In [77]:
med_col1 = df['coluna1'].mean()

In [61]:
df['coluna1'].fillna(med_col1)

A    14.00
B    21.25
C    74.00
D    21.25
E    21.25
F    17.00
G    21.25
H   -20.00
I    21.25
Name: coluna1, dtype: float64

## Substituindo pela mediana

In [62]:
df['coluna1']

A    14.0
B     NaN
C    74.0
D     NaN
E     NaN
F    17.0
G     NaN
H   -20.0
I     NaN
Name: coluna1, dtype: float64

In [63]:
df['coluna1'].sort_values()

H   -20.0
A    14.0
F    17.0
C    74.0
B     NaN
D     NaN
E     NaN
G     NaN
I     NaN
Name: coluna1, dtype: float64

In [64]:
(-77-33)/2

-55.0

In [65]:
df['coluna1'].median()

15.5

In [66]:
mediana_col1 = df['coluna1'].median()

In [67]:
df['coluna1'].fillna(mediana_col1)

A    14.0
B    15.5
C    74.0
D    15.5
E    15.5
F    17.0
G    15.5
H   -20.0
I    15.5
Name: coluna1, dtype: float64

In [68]:
df['coluna1'].fillna(method='ffill')
'''
ffill e bfill(preenche com valor seguinte ou anterior)
'''

'\nffill e bfill(preenche com valor seguinte ou anterior)\n'

In [69]:
df['coluna1'].dropna()

A    14.0
C    74.0
F    17.0
H   -20.0
Name: coluna1, dtype: float64

In [70]:
# dropar todas as linhas que tenha pelo menos 1 NA
df.dropna()

   coluna1     coluna2              coluna3     coluna4
A     14.0  201.792653  -12.019144534187829   89.683780
C     74.0    2.474631  -100.57636947512307 -126.058050
F     17.0 -170.877899   42.870720259940676 -103.594713
H    -20.0  255.691026    103.6784198394535  170.213588

# 5. Dados duplicados <a name="duplicados"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [71]:
df_dup = df.append(df.loc['D':'H',:]).sort_index()
df_dup

C:\Users\joao\AppData\Local\Temp\ipykernel_11232\1746637091.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_dup = df.append(df.loc['D':'H',:]).sort_index()

   coluna1     coluna2              coluna3     coluna4
A     14.0  201.792653  -12.019144534187829   89.683780
B      NaN   74.068463    143.2781812255641   86.617881
C     74.0    2.474631  -100.57636947512307 -126.058050
D      NaN  -95.455244   -50.60225995273826   55.871010
D      NaN  -95.455244   -50.60225995273826   55.871010
E      NaN  102.446762                  NaN         NaN
E      NaN  102.446762                  NaN         NaN
F     17.0 -170.877899   42.870720259940676 -103.594713
F     17.0 -170.877899   42.870720259940676 -103.594713
G      NaN  -43.469187   122.24841345192165  -43.206930
G      NaN  -43.469187   122.24841345192165  -43.206930
H    -20.0  255.691026    103.6784198394535  170.213588
H    -20.0  255.691026    103.6784198394535  170.213588
I      NaN  -33.694679    9.938044147403602         NaN

In [72]:
df_dup.drop_duplicates()

   coluna1     coluna2              coluna3     coluna4
A     14.0  201.792653  -12.019144534187829   89.683780
B      NaN   74.068463    143.2781812255641   86.617881
C     74.0    2.474631  -100.57636947512307 -126.058050
D      NaN  -95.455244   -50.60225995273826   55.871010
E      NaN  102.446762                  NaN         NaN
F     17.0 -170.877899   42.870720259940676 -103.594713
G      NaN  -43.469187   122.24841345192165  -43.206930
H    -20.0  255.691026    103.6784198394535  170.213588
I      NaN  -33.694679    9.938044147403602         NaN

In [73]:
df_dup.drop_duplicates(subset=['coluna1'])

   coluna1     coluna2              coluna3     coluna4
A     14.0  201.792653  -12.019144534187829   89.683780
B      NaN   74.068463    143.2781812255641   86.617881
C     74.0    2.474631  -100.57636947512307 -126.058050
F     17.0 -170.877899   42.870720259940676 -103.594713
H    -20.0  255.691026    103.6784198394535  170.213588

In [74]:
df_dup.duplicated()

A    False
B    False
C    False
D    False
D     True
E    False
E     True
F    False
F     True
G    False
G     True
H    False
H     True
I    False
dtype: bool

In [75]:
df_dup[df_dup.duplicated()]

   coluna1     coluna2             coluna3     coluna4
D      NaN  -95.455244  -50.60225995273826   55.871010
E      NaN  102.446762                 NaN         NaN
F     17.0 -170.877899  42.870720259940676 -103.594713
G      NaN  -43.469187  122.24841345192165  -43.206930
H    -20.0  255.691026   103.6784198394535  170.213588

# 6. Mapeamentos <a name="map"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [145]:
# 1 feminino, 0 masculino
genero = pd.Series([1,0,1,1,1,1,0,0,0,1,1,0])
genero

0     1
1     0
2     1
3     1
4     1
5     1
6     0
7     0
8     0
9     1
10    1
11    0
dtype: int64

In [146]:
genero.map({1:'Feminino', 0:'Masculino'})

0      Feminino
1     Masculino
2      Feminino
3      Feminino
4      Feminino
5      Feminino
6     Masculino
7     Masculino
8     Masculino
9      Feminino
10     Feminino
11    Masculino
dtype: object

In [152]:
genero_2 = genero.map({1:'Feminino', 0:'Masculino'})

In [147]:
genero.map({1:'Feminino', 2:'Masculino'})

0     Feminino
1          NaN
2     Feminino
3     Feminino
4     Feminino
5     Feminino
6          NaN
7          NaN
8          NaN
9     Feminino
10    Feminino
11         NaN
dtype: object

In [153]:
genero_2.map('Genero: {}'.format)

0      Genero: Feminino
1     Genero: Masculino
2      Genero: Feminino
3      Genero: Feminino
4      Genero: Feminino
5      Genero: Feminino
6     Genero: Masculino
7     Genero: Masculino
8     Genero: Masculino
9      Genero: Feminino
10     Genero: Feminino
11    Genero: Masculino
dtype: object